{% extends "layout.html" %}

{% block contents %}
    <div class="llCommentDelete">
        <form role="form" method="post">
            <input type="hidden" name="comment_id" value="{{ comment_id }}">
            <div class="form-group">
                <label for="password">Please write your password.</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password"/>
            </div>

            <button type="submit" class="btn btn-danger float-right">Delete</button>
        </form>
    </div>
{% endblock %}

