
html, body {
	font-family:Futura;
	text-align:center;
	height: 100%;
	width: 100%;

}

#header {
	width:100%;
	height:8em;
	position: relative;
	z-index: 20;
	overflow: hidden;
}

#container {
	width: 100%;
	min-height: 100%;
	position: absolute;
	margin: -50px 0 -50px 0;
	padding-top: 50px;
	overflow: hidden;
}

#footer {
	width:100%;
	height:10.9em;
	position: relative;
	z-index: 20;
	overflow: hidden;
	padding-top: 0.4em;
}

.name {
	margin-top: 3em;
}

.name h1 {
	font-size: 4em;
}

.cirlce_img {
	position: absolute;
	overflow: hidden;
	z-index: 2;
}

.col-xs-4 {
	margin-top: 4em;
	width: 30em;
	height: 30em;
}

.col-xs-3 {
	width: 20em;
	height: 5.5em;
	margin-top: 5em;
	color: white;
	padding-top: 0.5em;
}

#m1 {
	background-color: #E832B4;
}

#m2 {
	background-color: #CD43FF;
}

#m3 {
	background-color: #6B32E8;
}

#m4 {
	background-color: #364CFF;
}