{% extends "layout_person.html" %}

{% block contents %}

	<ul id="cd-gallery-items" class="cd-container">
	{% if context.person_list %}
	{% for person in context.person_list %}
		<li>

			<ul class="cd-item-wrapper">
				<li class="cd-item-front">
				<a href="{{ url_for('person_detail', id=person.id) }}" class="person-click">
				{% if person.image %}
				<img src="{{ person.image }}" alt="Preview image">
				{% else %}
				<img src="{{ url_for('static', filename='images/person_profile_image.jpg') }}">
				{% endif %}
				</a>
				</li>
				<li class="cd-item-middle"><div class="cd-item-background contact" style="background-color:white; width: 353px; height: 471px; text-align:center;">
					<h2>contact</h2>
					{% if person.homepage %}
					<br><br>
					<a href="{{ person.homepage }}" class="ui massive purple fade animated button" style="width:110px">						
						<div class="visible content">
							<i class="fa fa-home"></i>
						</div>
							<div class="hidden content">
								Homepage
						</div>
					</a>
					{% endif %}
					{% if person.facebook %}
					<br><br>
					<a href="http://www.facebook.com/{{ person.facebook }}" class="ui massive facebook fade animated button" style="width:110px">
						<div class="visible content">
							<i class="fa fa-facebook"></i>
						</div>
							<div class="hidden content">
								facebook
						</div>
					</a>
					{% endif %}
					{% if person.twitter %}
					<br><br>
					<a href="http://twitter.com/{{ person.twitter }}" class="ui massive twitter fade animated button" style="width:110px">
						<div class="visible content">
							<i class="fa fa-twitter"></i>
						</div>
							<div class="hidden content">
								twitter
						</div>
					</a>
					{% endif %}
					{% if person.blog %}
					<br><br>
					<a href="{{ person.blog }}" class="ui massive green fade animated button" style="width:110px">
						<div class="visible content">
							<i class="fa fa-pencil-square-o"></i>
						</div>
							<div class="hidden content">
								blog
						</div>
					</a>
					{% endif %}
				</div></li>
				<!-- <li class="cd-item-out">...</li> -->
			</ul> <!-- cd-item-wrapper -->

			<div class="cd-item-info person-container">
				<h3 style="position:inherit"> {{ person.name }} <small>의원</small> </h3>
				<a href="{{ url_for('person_detail', id=person.id) }}" class="ui huge blue animated button float-right person-click" style="top:25%">
					<div class="visible content">More</div>
					<div class="hidden content">
						<i class="fa fa-arrow-right"></i>
					</div>
				</a>
				<button type="button" class="ui huge orange fade animated button float-right person-like" style="top:25%">
					<div class="visible content">
						<i class="fa fa-thumbs-o-up"></i>
						<span>{{ person.like }}</span>
					</div>
					<div class="hidden content">
						<strong>Like</strong>
						<input name="id" type="hidden" value="{{ person.id }}"/>
					</div>
				</button>
			</div> <!-- cd-item-info -->

			<nav>
				<ul class="cd-item-navigation">
					<li><a class="cd-img-replace" href="#0">Prev</a></li>
					<li><a class="cd-img-replace" href="#0">Next</a></li>
				</ul>
			</nav>

			<a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
		</li>
	{% endfor %}
	{% endif %}
		
	</ul> <!-- cd-gallery-items -->

{% endblock %}