<!--login interest-->

{% extends "layout.html" %}

{% block contents %}
<div id="maximage">
	<img src="{{ url_for('static', filename='images/login_bg_02.jpg') }}" width="1440px" height="740px">
	<img src="{{ url_for('static', filename='images/login_bg_01.jpg') }}" width="1440px" height="740px">
	<img src="{{ url_for('static', filename='images/login_bg_03.jpg') }}" width="1440px" height="740px">
	<img src="{{ url_for('static', filename='images/login_bg_04.jpg') }}" width="1440px" height="740px">
	<img src="{{ url_for('static', filename='images/login_bg_05.jpg') }}" width="1440px" height="740px">
</div>

<div class="llArticleCreate" id="join">
	<form role="form" method="post">
		<p style="font-size:60px">회원가입</p>
		<p style="font-size:20px">2단계 : 관심 분야 선택</p>
		<br>
		<div class="form-group">
			<button type="button" class="btn btn-default" id="politics">정치</button>
			<button type="button" class="btn btn-default" id="economics">경제</button>
			<button type="button" class="btn btn-default" id="society">사회</button>
			<button type="button" class="btn btn-default" id="culture">문화</button>
			<button type="button" class="btn btn-default" id="education">교육</button>
			<p></p>
			<button type="button" class="btn btn-default" id="defense">국방</button>
			<button type="button" class="btn btn-default" id="health">건강</button>
			<button type="button" class="btn btn-default" id="welfare">복지</button>
			<button type="button" class="btn btn-default" id="safety">안전</button>
			<button type="button" class="btn btn-default" id="religion">종교</button>
			<p></p>
			<button type="button" class="btn btn-default" id="tech">기술</button>
			<button type="button" class="btn btn-default" id="transportation">교통</button>
			<button type="button" class="btn btn-default" id="environment">환경</button>
			<button type="button" class="btn btn-default" id="world">세계</button>
			<button type="button" class="btn btn-default" id="childcare">보육</button>
		</div>
		<button type="submit" class="btn btn-primary" id="submit">다음단계</button>
	</form>
</div>
{% endblock %}