<!DOCTYPE HTML>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/stylesheet.css">
    

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    
    <title>lovegari</title>
  </head>

  <body>
    
    <div id="header">
      <div class="name">
        <h1>Hello, lovegari!</h1>
      </div>
    </div>


    <!--3 circle-->

      <div class="circle_img">
        <div class="col-xs-4" id="img1">
            <img data-src="holder.js/140x140" class="img-circle" alt="140x140" 
            src="http://www.christianstuker.ch/content/1.graphic/4.biennale/biennale_00.jpg" 
            style="width: 400px; height: 400px; margin-right:-80px;" />
          </div>
          
        <div class="col-xs-4" id="img2">
            <img data-src="holder.js/140x140" class="img-circle" alt="140x140" 
            src="http://www.besofia.net/images/calc.jpg" 
            style="width: 400px; height: 400px;" />
        </div>

        <div class="col-xs-4" id="img3">
            <img data-src="holder.js/140x140" class="img-circle" alt="140x140" 
            src="http://rack.1.mshcdn.com/media/ZgkyMDEzLzA1LzA2LzliL2h0bWxjb2RlLmM3MWYwLmpwZwpwCXRodW1iCTEyMDB4OTYwMD4/6498c8ff/1d8/html-code.jpg" 
            style="width: 400px; height: 400px; margin-left:-80px;" />
        </div>
      </div>

    <div id="footer">
      <div class="menu">

        <div class="col-xs-3" id="m1">
          <h3>Bio</h3>
        </div>

        <div class="col-xs-3" id="m2">
          <h3>Career</h3>
        </div>

        <div class="col-xs-3" id="m3">
          <h3>Portfolio</h3>
        </div>

        <div class="col-xs-3" id="m4">
          <h3>Comment</h3>
        </div>
      </div>
    </div>


  </body>
</html>