{% extends "layout.html" %}

{% block contents %}
	<div class="llArticleDetail">
		<h1>{{ bill.name }}</h1>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{ bill.sponsor }}<span class="float-right"> <span class="badge">{{ bill.status }}</span>{{ bill.proposed_date.strftime('%Y-%m-%d') }}</span></h3>
			</div>

			<div class="panel-body">
					{{ bill.summary }}
			</div>
		</div>

		<div class="bottomButtons bill-container">
			<button type="button" class="ui huge orange fade animated button bill-like">
				<div class="visible content">
					<i class="fa fa-thumbs-o-up"></i>
					<span>{{ bill.like }}</span>
				</div>
				<div class="hidden content">
					<strong>Like</strong>
					<input name="id" type="hidden" value="{{ bill.id }}"/>
				</div>
			</button>
		</div>

	</div>
{% endblock %}


