{% extends "layout_bill.html" %}

{% block contents %}

	<section id="cd-timeline" class="cd-container">
		{% if context %}
			{% for number in range(context|length) %}
				<div class="cd-timeline-block">

					{% if context[number]['status_id'] == (1 or 2 or 4 or 5) %}
						<div class="cd-timeline-img cd-location">
					{% elif context[number]['status_id'] == (7 or 9) %}
						<div class="cd-timeline-img cd-picture">
					{% else %}
						<div class="cd-timeline-img cd-movie">
					{% endif %}
						<span class="cd-date">{{ context[number]['status'] }}</span>
					</div> <!-- cd-timeline-img -->

					<div class="cd-timeline-content">
						<h2>{{ context[number]['name'] }}</h2>
						<p>{{ context[number]['sponsor'] }}</p>
						<span class="cd-date">{{ context[number]['proposed_date'] }}</span>
						
						<button type="button" class="btn btn-warning float-right">
							<i class="fa fa-thumbs-o-up"></i>
							<strong>Like</strong>
							<input name="id" type="hidden" value="{{ context[number]['id'] }}"/>
						</button>

						{% if context[number]['summary'] != None %}
						<a href="{{ url_for('bill_detail', id=context[number]['id']) }}" class="btn btn-info float-right">Read more</a>
						{% endif %}

					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->
			{% endfor %}
		{% else %}
			<div class="no-list">
				There is no post. Upload your own post!
			</div>
		{% endif %}
	</section> <!-- cd-timeline -->
{% endblock %}