{% extends "layout_bill.html" %}

{% block contents %}

	<section id="cd-timeline" class="cd-container">
		{% if context.bill_list %}
			{% for bill in context.bill_list %}
				<div class="cd-timeline-block">

					{% if bill.status_id == (1 or 2 or 4 or 5 or 11) %}
						<div class="cd-timeline-img cd-location">
					{% elif bill.status_id == (6 or 7 or 9) %}
						<div class="cd-timeline-img cd-picture">
					{% else %}
						<div class="cd-timeline-img cd-movie">
					{% endif %}
						<span class="cd-date">{{ bill.status }}</span>
					</div> <!-- cd-timeline-img -->

					<div class="cd-timeline-content bill-container">
						<h2>{{ bill.name }}</h2>
						<p>{{ bill.sponsor }}</p>
						<span class="cd-date">{{ bill.proposed_date.strftime('%Y-%m-%d') }}</span>
						
						{% if bill.summary != None %}
						<a href="{{ url_for('bill_detail', id=bill.id) }}" class="ui huge blue animated button float-right">
						  <div class="visible content">More</div>
						  <div class="hidden content">
						  	<i class="fa fa-arrow-right"></i>
						  </div>
						</a>
						{% endif %}

						<button type="button" class="ui huge orange fade animated button float-right bill-like">
							<div class="visible content">
								<i class="fa fa-thumbs-o-up"></i>
								<span>{{ bill.like }}</span>
							</div>
							<div class="hidden content">
								<strong>Like</strong>
								<input name="id" type="hidden" value="{{ bill.id }}"/>
							</div>
						</button>

					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->
			{% endfor %}
		{% else %}
			<div class="no-list">
				There is no post. Upload your own post!
			</div>
		{% endif %}
	</section> <!-- cd-timeline -->
{% endblock %}