{% extends "layout.html" %}

{% block contents %}
	<div class="llArticleList">
		{% if context.article_list %}
			{% for article in context.article_list %}
				<div class="well" id="article_{{ article.id }}">
					<h1><a href="{{ url_for('article_detail', id=article.id) }}">{{ article.title }}</a></h1>
					<div class="llArticleDetail article-like">
						<button type="button" class="btn btn-warning float-right">
							<i class="fa fa-thumbs-o-up"></i>
							<strong>Like</strong>
							<span>{{ article.like }}</span>
							<input name="id" type="hidden" value="{{ article.id }}"/>
						</button>
					</div>
					<h3>{{ article.author }}</h3>
					<h6>{{ article.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</h6>

					<p>
						{{ article.content|truncate(50)|safe }}
					</p>
				</div>
			{% endfor %}
		{% else %}
			<div class="no-list">
				There is no post. Upload your own post!
			</div>
		{% endif %}
	</div>
{% endblock %}