<header class="cd-header">
    <div class="cd-logo"><a href="{{ url_for('frontgate') }}" style="color:white;">Polask</a></div>

    <nav>
        <ul class="cd-secondary-nav">
            <li><a href="{{ url_for('log_in') }}">Log In</a></li>
            <li><a href="{{ url_for('user_join') }}">Register</a></li>
        </ul>
    </nav> <!-- cd-nav -->

    <a class="cd-primary-nav-trigger" href="#0">
        <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
    </a> <!-- cd-primary-nav-trigger -->
</header>

<nav>
    <ul class="cd-primary-nav">
        <li class="cd-label">Option</li>

        <li><a href="">People</a></li>
        <li><a href="">Bill</a></li>
        <li><a href="#0">Party</a></li>
        <li><a href="{{ url_for('article_list') }}">Timeline</a></li>

        <li class="cd-label">Membership</li>

        <li><a href="{{ url_for('user_join') }}">Join</a></li>
        <li><a href="{{ url_for('log_in') }}">Log In</a></li>
        <li><a href="{{ url_for('article_create') }}">Request</a></li>

        <li class="cd-label">Follow us</li>
        
        <li class="cd-social cd-facebook"><a href="#0">Facebook</a></li>
        <li class="cd-social cd-instagram"><a href="#0">Instagram</a></li>
        <li class="cd-social cd-dribbble"><a href="#0">Dribbble</a></li>
        <li class="cd-social cd-twitter"><a href="#0">Twitter</a></li>
    </ul>
</nav>

<section class="cd-intro">
    <div id="up"></div>
</section>