{% extends "layout.html" %}

{% block contents %}
    <div class="llArticleDetail">
        <h1>{{ article.title }}</h1>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ article.author }}<span class="float-right"> <span class="badge">{{ article.category }}</span>{{ article.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</span></h3>
            </div>
            <div class="panel-body article-like">
                <button type="button" class="btn btn-warning float-right">
                    <i class="fa fa-thumbs-o-up"></i>
                    <strong>Like</strong>
                    <span>{{ article.like }}</span>
                    <input name="id" type="hidden" value="{{ article.id }}"/>
                </button>
                {{ article.content|safe }}
            </div>
        </div>

        <div class="llCommentList">
            {% if comments %}
                {% for comment in comments %}
                    <div class="well well-sm">
                        <span class="badge">{{ loop.index }}</span> {{ comment.content }}
                        {% if g.user_name == comment.author %}
                        <a href="{{ url_for('comment_delete', id=comment.id) }}">&times;</a>
                        {% endif %}
                        <span class="float-right">
                            <span class="label label-primary">{{ comment.author }}</span>
                            <small>
                                <a href="mailto:{{ comment.email }}">{{ comment.email }}</a> <em>{{ comment.date_created.strftime('%Y-%m-%d %H:%M:%S') }}   </em>
                            </small>
                            <button type="button" class="btn btn-warning btn-xs">
                                <i class="fa fa-thumbs-o-up"></i>
                                <span>{{ comment.like }}</span>
                                <input name="id" type="hidden" value="{{ comment.id }}"/>
                            </button>
                        </span>
                    </div>
                {% endfor %}
            {% else %}
                <div class="no-list">
                    There is no comment.
                </div>
            {% endif %}
        </div>

        <div class="bottomButtons">
            <a href="{{ url_for('article_list') }}" class="btn btn-primary">Timeline</a>
            <a href="{{ url_for('comment_create', article_id=article.id) }}" class="btn btn-info">Comment</a>
            {% if g.user_name != None %}
            <a href="{{ url_for('article_update', id=article.id) }}" class="btn btn-success">Edit</a>
            <a href="{{ url_for('article_delete', id=article.id) }}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
{% endblock %}


