{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="messages" class="row messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} fade in">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    {% if category == 'success' %}
                        <i class="fa fa-smile-o"></i>
                    {% elif category == 'danger' %}
                        <i class="fa fa-frown-o"></i>
                    {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}